<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="/static/print.css">
    <title>Todo application</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav">
          <li class="dropdown"><a href="/">Home</a></li>
          <li class="dropdown"><a href="/tasks">All tasks</a></li>
          <li class="dropdown"><a href="/complete">Completed tasks</a></li>
          <li class="dropdown"><a href="/create_task">Create task</a></li>
        </ul>
      </div>
    </nav>
    <div>
      {% block content %}{% endblock %}
    </div>
    <div class="footer">
      <p>Todo list application designed and created by Ali Ammar. sc16aa@leeds.ac.uk.
        Web app development coursework 1. Module code 2011</p>
    </div>
  </body>
</html>
